{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "app": "."
                }
            }
        ],
        [
            "@babel/plugin-transform-runtime",
            {
              "regenerator": true
            }
          ]
    ],
    "compact": false
}